<template>
    <div>
        <template v-if="loaded">
            <!-- Header -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">{{ resourceLabelName }}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><router-link to="/">{{ trans.app.apysey.home }}</router-link></li>
                                <li class="breadcrumb-item"><router-link :to="`/${resourceName}`">{{ resourceLabelName }}</router-link></li>
                                <li class="breadcrumb-item active">{{ trans.app.apysey.edit }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <single-card>
                <div class="card-header d-flex">
                    <h3 class="card-title">{{ resourceLabelName }}</h3>
                </div>
                <div class="card-body">
                    <div v-for="(column, key) in columns" :key="key">
                        <div v-if="column.type" class="form-group row">
                            <label :for="key" class="col-sm-2 col-form-label">{{ column.label }}</label>
                            <div class="col-sm-10">
                                <component v-bind:is="`${column.type}Field`" v-model="entity[column.columnName]" :files="files" :column="column" :iKey="column.columnName"></component>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" @click="onSubmit" :disabled="loadingSave">
                        <span :style="loadingSave ? 'visibility: hidden;' : 'visibility: visible;'">
                            {{ trans.app.apysey.save }}
                        </span>
                        <Spinner class="spinner-border-sm" :style="!loadingSave ? 'display: none' : 'display: block'"></Spinner>
                    </button>
                </div>
            </single-card>

            <single-card v-if="$gates.hasPermission('give_permissions')">
                <div class="card-header d-flex">
                    <h3 class="card-title">Permissions</h3>
                </div>

                <div class="card-body">

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Permission</th>
                                <th>Show</th>
                                <th>Edit</th>
                                <th>Add</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(perms, table) in permissions" v-if="table !== ''">
                                <td>{{ table }}</td>
                                <td v-for="permission in perms" class="text-center">
                                    <input type="checkbox" :id="'permission-' + permission.id" class="permission-group" @change="changePermission(permission.slug, $event)" :checked="$gates.hasPermission(permission.slug)">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr v-for="(perms, table) in permissions" v-if="table === ''">
                                <td v-for="permission in perms" class="text-center">
                                    <input type="checkbox" :id="'permission-' + permission.id" class="permission-group" @change="changePermission(permission.slug, $event)" :checked="$gates.hasPermission(permission.slug)">
                                    <label :for="'permission-' + permission.id">{{ permission.slug }}</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" @click="onSubmitPermissions" :disabled="loadingSave">
                        <span :style="loadingSave ? 'visibility: hidden;' : 'visibility: visible;'">
                            {{ trans.app.apysey.save }}
                        </span>
                        <Spinner class="spinner-border-sm" :style="!loadingSave ? 'display: none' : 'display: block'"></Spinner>
                    </button>
                </div>
            </single-card>
        </template>
        <template v-else>
            <div class="col-md-12 text-center">
                <Spinner></Spinner>
            </div>
        </template>
    </div>
</template>

<script>
    import SingleCard from '@apysey/component/single-card';
    import Spinner from '@apysey/component/spinner';

    import BelongsToField from '@apysey/component/Inputs/BelongsToField';
    import BelongsToManyField from '@apysey/component/Inputs/BelongsToManyField';
    import BoolField from '@apysey/component/Inputs/BoolField';
    import DateField from '@apysey/component/Inputs/DateField';
    import DateTimeField from '@apysey/component/Inputs/DateTimeField';
    import EmailField from '@apysey/component/Inputs/EmailField';
    import LinkField from '@apysey/component/Inputs/LinkField';
    import NumberField from '@apysey/component/Inputs/NumberField';
    import SelectField from '@apysey/component/Inputs/SelectField';
    import TextareaField from '@apysey/component/Inputs/TextareaField';
    import TextField from '@apysey/component/Inputs/TextField';
    import TimeField from '@apysey/component/Inputs/TimeField';
    import FileField from '@apysey/component/Inputs/FileField';
    import ImageField from '@apysey/component/Inputs/ImageField';

    export default {
        components: {SingleCard, Spinner,
            BelongsToField, BelongsToManyField, BoolField, DateField, DateTimeField, ImageField,
            EmailField, LinkField, NumberField, SelectField, TextareaField, TextField, TimeField, FileField},
        beforeMount() {
            this.resourceName = 'users';
            this.resourceId = this.$route.params.id;
            this.getData();
            if (this.$gates.hasPermission('give_permissions')) {
                this.getPermissions();
            }
        },
        data() {
            return {
                resourceName: null,
                resourceId: null,
                resourceLabelName: '',
                loaded: false,
                loadingSave: false,

                entity: null,
                files: {},
                columns: null,
                permissions: [],

                trans: JSON.parse(Apy.lang),
            }
        },
        methods: {
            getData() {
                axios.get(`/admin/api/resources/${this.resourceName}/update/${this.resourceId}`)
                    .then(response => {
                            this.resourceLabelName = response.data.parameters.label || this.resourceName;
                            this.entity = response.data.entity;
                            this.columns = response.data.columns;

                            this.loaded = true;
                        }
                    )
                    .catch(errors => {
                        console.error(errors);
                        this.$toast.error(this.trans.app.apysey.error_occurred);
                    });
            },
            getPermissions() {
                axios.get(`/admin/api/permissions`)
                    .then(response => {
                            this.permissions = response.data.permissions;
                        }
                    )
                    .catch(errors => {
                        console.error(errors);
                        this.$toast.error(this.trans.app.apysey.error_occurred);
                    });
            },
            changePermission(permission, event) {
                let perms = this.$gates.getPermissions();
                if (!event.target.checked) {
                    perms = perms.filter(e => e !== permission);
                    this.$gates.setPermissions(perms);
                } else {
                    perms.push(permission);
                }
            },
            onSubmit() {
                this.loadingSave = true;
                let formData = new FormData();
                formData.append('entity', JSON.stringify(this.entity));

                Object.entries(this.files).forEach(([key, value]) => {
                    formData.append('file_'+ key, value)
                });

                formData.append('_method', "PUT");

                axios.post(`/admin/api/resources/${this.resourceName}/update/${this.resourceId}`, formData)
                    .then(response => {
                            this.loadingSave = false;
                            this.$toast.success(this.trans.app.apysey.item_updated);
                            this.$router.push(`/resource/${this.resourceName}`);
                        }
                    )
                    .catch(errors => {
                        this.loadingSave = false;
                        console.error(errors);
                        this.$toast.error(this.trans.app.apysey.error_occurred);
                    });
            },
            onSubmitPermissions() {
                this.loadingSave = true;
                let formData = new FormData();
                formData.append('permissions', JSON.stringify(this.$gates.getPermissions()));

                formData.append('_method', "PUT");

                this.$toast.success(this.trans.app.apysey.item_updated);
                this.loadingSave = false;
            }
        }
    }
</script>
